


.seccion-descripcion,
.seccion-objetivos {
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.seccion-descripcion {
  color: rgb(12, 12, 12);
}

.seccion-objetivos {
  color: rgb(17, 16, 16);
}

.footer {
  background-color: hsl(192, 82%, 65%);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
  border-top: 2px solid #ccc;
}

.redes a {
  color: #555;
  text-decoration: none;
  margin: 0 8px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.redes a:hover {
  color: #d13a3a;
}

.novedad {
  background-color: #f7ce9f;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  font-family: 'Georgia', serif;
  color: #333;
}